@font-face {
    font-family: 'star wars';
    src: url(../font/Starjout.ttf);
}

body {
    background-image: url(../img/fondStarWars.jpg);
    background-size: cover;
    color: aqua;
    font-family: 'star wars';
}

.mask {
    visibility: hidden;
}

.show {
    visibility: inherit;
}


/* HEADER*/

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 80px;
}

menu {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

main {
    display: flex;
}

table {
    text-align: center;
    width: 100%;
    height: 100%;
}

section {
    text-align: center;
    width: 30%;
    height: 50%;
}

#sectionpeople {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#menuPeople {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#menuPlanet {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    h1 {
        font-size: 40px;
    }
    menu {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #sectionpeople {
        width: 100%;
    }
    #showpeople {
        padding-top: 40px;
        width: 100%;
    }
    #sectionplanet {
        width: 100%;
    }
    #showplanet {
        padding-top: 40px;
        width: 100%;
    }
}